@using OncoDiagnose.Web.ViewModels
@model OncoDiagnose.Web.ViewModels.GeneViewModels.GeneViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var selectedAliases = Model.GeneAliases.Select(ga => new AliaseViewModel
            {
                Id = ga.Aliase.Id,
                Name = ga.Aliase.Name
            });

    var selectList = new List<SelectListItem>();

    selectedAliases.ToList().ForEach(a => selectList.Add(
        new SelectListItem(a.Name, a.Id.ToString(), selectedAliases.Select(a => a.Id)
            .Contains(a.Id))));
}

<div class="container-fluid">
    <h1>Details</h1>

    <div>
        <h4>Gene</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HugoSymbol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HugoSymbol)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OncoGene)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OncoGene)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Grch37Isoform)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Grch37Isoform)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Grch37RefSeq)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Grch37RefSeq)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Grch38Isoform)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Grch38Isoform)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Grch38RefSeq)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Grch38RefSeq)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tsg)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tsg)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GeneAliases)
            </dt>
            <dd class="col-sm-10">
                <select asp-for="GeneAliases" asp-items="@selectList">
                    <option>-- Các aliases tương ứng --</option>
                </select>
            </dd>
        </dl>
    </div>

    <br/>
    <div>
        <a class="btn btn-primary" href="/Doctor/Mutations">Back to list</a>
    </div>
</div>
