@model OncoDiagnose.Models.Gene

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Gene</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HugoSymbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HugoSymbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OncoGene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OncoGene)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grch37Isoform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grch37Isoform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grch37RefSeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grch37RefSeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grch38Isoform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grch38Isoform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grch38RefSeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grch38RefSeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tsg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tsg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
