@model OncoDiagnose.Models.Technician.Run

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Run</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeySignal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeySignal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsableRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsableRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeanLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeanLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedianLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedianLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISPLoading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISPLoading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolyClonal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolyClonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISPLoadingPic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISPLoadingPic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualityPic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualityPic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthPic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthPic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
