@model IEnumerable<OncoDiagnose.Models.Technician.Run>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeySignal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsableRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeanLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedianLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISPLoading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolyClonal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISPLoadingPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthPic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeySignal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsableRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeanLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedianLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISPLoading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolyClonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowQuality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISPLoadingPic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityPic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthPic)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
