@model IEnumerable<OncoDiagnose.Models.Technician.Patient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherDisease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeepMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectHospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsectDoctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explain)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherDisease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeepMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectHospital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsectDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiveState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explain)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
